/* BASE */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 | Regras para browsers antigos */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* LAYOUT */
body {
  background-color: #fff;
  color: #333355;
  font-family: 'Montserrat', sans-serif; }

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

input {
  background-color: transparent;
  border: 1px solid #999;
  border-width: 0 0 1px;
  padding: 0 0 8px 0;
  margin: 0 0 8px;
  font-size: 14px;
  color: #ff5c00; }
  input:focus {
    outline: none !important;
    border: 1px solid #ff5c00;
    border-width: 0 0 1px 0; }
    input:focus::-webkit-input-placeholder {
      opacity: 0; }

label {
  color: #333335; }

button {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  margin: 4px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer; }
  button:active {
    opacity: 0.8; }
  button:focus {
    outline: none !important; }

select {
  border: 1px solid #ff5c00; }

/* BASE */
@font-face {
  font-family: 'SFNS';
  src: url(../fonts/sf.ttf); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* LAYOUT */
header {
  width: auto;
  height: 12vh;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  font-size: 28px;
  color: #333355;
  align-items: center;
  background: -moz-linear-gradient(top, #f6891f 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, #f6891f 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #f6891f 0%, rgba(255, 255, 255, 0) 100%); }
  header img {
    height: 90px; }

/* LAYOUT */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: #333355;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 8px 0; }
  footer a,
  footer a:active,
  footer a:hover,
  footer a:visited {
    color: #D9091C; }

/* MODULE */
.dashboard {
  display: table;
  margin: 7vh auto 2vh; }

.quotations {
  display: table;
  text-align: center; }
  .quotations__item {
    display: flex;
    flex-direction: column;
    margin: 12px;
    padding: 18px 18px 4px;
    box-shadow: 0 0px 50px rgba(197, 197, 197, 0.5); }
  .quotations h3 {
    font-size: 13px;
    text-transform: uppercase;
    color: #47425b;
    padding: 0 0 4px 0; }

.item__conversion {
  display: flex;
  flex-direction: row; }
  .item__conversion img {
    height: 24px;
    margin: 0 8px; }
  .item__conversion--input {
    display: flex;
    flex-direction: column; }
    .item__conversion--input label {
      font-size: 12px; }

.item__info {
  font-size: 11px;
  margin: 24px 0 0; }
  .item__info a {
    opacity: 0.9; }

/* STATE */
.is-inactive {
  display: none; }

/* MODULE */
.newsletter {
  margin: 0 auto;
  padding: 18px 18px 7px;
  text-align: center;
  box-shadow: 0 0 4px #ff5c00;
  display: table; }
  .newsletter h3 {
    font-size: 12px;
    text-transform: uppercase; }
  .newsletter button {
    color: #fff;
    background-color: #333355; }
    .newsletter button span {
      vertical-align: baseline;
      text-transform: uppercase; }

.msg {
  position: absolute;
  width: 100vw;
  display: none;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
  padding: 35px 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #ff8003;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 999; }
