/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #f3f3f3; }

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit; }

li {
  list-style-type: none; }

input {
  background-color: transparent;
  border: 1px solid #999;
  border-width: 0 0 1px;
  padding: 8px 0;
  margin: 0 0 8px;
  font-size: 14px; }
  input:focus {
    outline: none !important;
    border: 1px solid #ff5c00;
    border-width: 0 0 1px 0; }
    input:focus::-webkit-input-placeholder {
      opacity: 0; }

label {
  color: #fcffc6; }

button {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  margin: 4px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer; }
  button:active {
    opacity: 0.8; }
  button:focus {
    outline: none !important; }

select {
  border: 1px solid #ff5c00; }

@font-face {
  font-family: 'SF NS';
  src: url(../fonts/sf.ttf); }

body {
  font-family: "Verdana"; }

header {
  background-color: #fff;
  width: auto;
  height: 6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #ff5c00; }
  header img {
    height: 70px; }
  header nav {
    display: flex;
    flex-direction: row; }
    header nav ul li {
      color: #fff;
      padding: 12px 24px;
      cursor: pointer; }
      header nav ul li .icon {
        vertical-align: sub;
        margin: 0 8px 0 0;
        height: 24px; }
      header nav ul li:hover {
        background-color: #D9091C; }
    header nav ul .active {
      background-color: #D9091C;
      border: 1px solid #fff; }
  header .button {
    color: #fff;
    background-color: #ff5c00;
    border: solid;
    padding: 10px;
    display: table;
    cursor: pointer; }
    header .button:hover {
      color: #ff5c00;
      background-color: #fff; }

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #e4e4e4;
  color: #222;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 8px 0; }
  footer a,
  footer a:active,
  footer a:hover,
  footer a:visited {
    color: #D9091C; }

.login {
  margin: 0 auto;
  padding: 8px 24px;
  width: 400px;
  display: flex;
  flex-direction: column;
  color: #fcffc6; }
  .login img {
    height: 200px;
    margin: 0 auto; }
  .login .button-enter {
    background-color: #fcffc6;
    color: #fff; }
  .login .button-signin {
    background-color: #fff;
    border: 2px solid #fcffc6;
    color: #fcffc6; }
  .login .button-facebook {
    background-color: #3B5998;
    color: #fff; }
  .login span {
    margin: 0 auto; }

.slides {
  height: 280px;
  background-color: #f3f3f3; }
  .slides img {
    height: 280px;
    width: 100%; }

.spotlights {
  padding: 26px 0 0; }
  .spotlights nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 36px;
    align-items: center; }
    .spotlights nav .weekdays {
      display: flex;
      flex-direction: row; }
      .spotlights nav .weekdays li {
        padding: 12px 36px;
        border: 1px solid #ff5c00;
        border-width: 1px 0 1px 1px;
        background-color: #fff;
        cursor: pointer; }
        .spotlights nav .weekdays li:first-child {
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px; }
        .spotlights nav .weekdays li:last-child {
          border-width: 1px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px; }
        .spotlights nav .weekdays li:hover {
          border: none;
          color: #fff;
          background-color: #ff5c00; }
      .spotlights nav .weekdays .active {
        border: none;
        color: #fff;
        background-color: #ff5c00; }
    .spotlights nav .search {
      margin: 12px; }
      .spotlights nav .search input {
        width: 70vw; }
      .spotlights nav .search a {
        background-color: #fff;
        font-size: 32px;
        color: #ff5c00;
        border: 1px solid #ff5c00;
        padding: 0 12px 4px;
        border-radius: 8px;
        box-shadow: 0 2px 0 #ff5c00; }
        .spotlights nav .search a:active {
          box-shadow: none; }
        .spotlights nav .search a span {
          font-size: 24px;
          vertical-align: baseline; }
    .spotlights nav .filters select {
      font-size: 16px;
      height: 40px;
      margin: 0 12px; }
  .spotlights .row {
    display: flex;
    flex-direction: row;
    padding: 18px 42px 0;
    justify-content: flex-start;
    flex-wrap: wrap; }
    .spotlights .row .torneio {
      text-align: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
      padding: 24px;
      margin: 24px;
      border-radius: 4px;
      width: 16vw; }
      .spotlights .row .torneio span {
        color: #4990E2;
        font-size: 14px; }
      .spotlights .row .torneio h3 {
        color: #555;
        font-size: 14px; }
      .spotlights .row .torneio p {
        color: #ff5c00;
        font-size: 18px; }
      .spotlights .row .torneio img {
        height: 80px;
        margin: 8px; }
