/* MODULE */
.dashboard {
	display: table;
	margin: 7vh auto;
}

.quotations {
	display: table;
	text-align: center;

	&__item {
		display: flex;
		flex-direction: column;
		margin: 12px;
		padding: 18px 18px 8px;
		box-shadow: 0 0px 50px rgba(197, 197, 197, 0.5);
	}

	h3 {
		font-size: 13px;
    text-transform: uppercase;
    color: #47425b;
    padding: 0 0 4px 0;
	}
}

.item {
	&__conversion {
		display: flex;
		flex-direction: row;

		img {
			height: 24px;
			margin: 0 8px;
		}

		&--input {
			display: flex;
			flex-direction: column;

			label {
				font-size: 12px;
			}
		}
	}

	&__info {
		font-size: 11px;
		margin: 24px 0 0;

		a {
			opacity: 0.9;
		}
	}
}
