<div class="msg">
  {{ 'newsletter.msg' | translate}}
</div>
<div class="newsletter">
  <h3>{{ 'newsletter.call' | translate}}</h3>
  <input type="text" ng-model="ctrl.name" placeholder="{{ 'newsletter.placeholder.name' | translate}}">
  <input type="text" ng-model="ctrl.email" placeholder="{{ 'newsletter.placeholder.email' | translate}}">
  <button type="button" name="button" ng-click="ctrl.register()"><i class="fa fa-envelope-o"></i> <span>{{ 'newsletter.enter' | translate}}</span></button>
</div>
