/* LAYOUT */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
  color: #333355;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 8px 0;

  a,
  a:active,
  a:hover,
  a:visited {
    color: #D9091C;
  }
}

@media only screen and (max-width: 40em) {
  footer {
    position: relative;
    margin: 12px 0 0 0;
  }
}
