/* LAYOUT */
body {
  background-color: #f3f3f3;
  color: #333355;
  font-family: 'Montserrat', sans-serif;
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

input {
  background-color: rgba(0,0,0,0);
  border: 1px solid #999;
  border-width: 0 0 1px;
  padding: 0 0 8px 0;
  margin: 0 0 8px;
  font-size: 14px;
  color: #ff5c00;

  &:focus {
    outline: none !important;
    border: 1px solid #ff5c00;
    border-width: 0 0 1px 0;

    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

label {
  color: #333335;
}

button {
  box-shadow: none;
  border: none;
  border-radius: 4px;
  margin: 4px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;

  &:active {
    opacity: 0.8;
  }

  &:focus {
    outline: none !important;
  }
}

select {
  border: 1px solid #ff5c00;
}
